front_end/public/css/*
front_end/public/js/modules/*.js
front_end/public/js/*.js
logs/*
_notes

# .env normally this is ignored, just using it as an example
node_modules
.vscode
.vscode-test
.DS_Store


