body {
  background-color: #6381bb;
}

#picker-container {
  margin-top: 20%;
}

.container {
  max-width: 900px;
}

.div-item {
  position: relative;
  height: 80px;
}
.div-item input {
  position: absolute;
  margin-top: auto;
  bottom: 8px;
  left: 0;
  padding: 3px;
}