
<footer>
    <div class="row d-md-flex bg-dark text-light py-3 justify-content-center m-0 fixed-bottom">
       
        <div class="col-md-2 text-center my-auto">
            <a class="text-decoration-none text-light" href="./">Home</a>
        </div>

        <div class="col-md-2 text-center my-auto">
            <a class="text-decoration-none text-light" href="./about">About</a>
        </div>

        <div class="col-md-2 text-center my-auto">
            <a class="text-decoration-none text-light" href="./docs">Docs</a>
        </div>

        <div class="col-md-2 text-center my-auto">
            <a class="text-decoration-none text-light" href="./form">Form</a>
        </div>

    </div>
</footer>
