

<div id="picker-container" class="container bg-light rounded shadow">
    <div class="row">
        <div class="col-lg-6 col-12 p-3 mx-auto">
            <div class="col-12 div-item">
                <label for="">Hex</label>
                <input class="form-control" type="text">
            </div>
            <div class="col-12 div-item">
                <label for="">HSB</label>
                <input class="form-control" type="text">
            </div>
            <div class="col-12 div-item">
                <label for="">Something</label>
                <input class="form-control" type="text">
            </div>
            <div class="col-12 div-item">
                <label for="">Last</label>
                <input class="form-control" type="text">
            </div>

        </div>

        <div class="col-lg-6 col-12 p-3 mx-auto">
            <div class="col-12 div-item">
                <label for="">Hue</label>
                <input type="range" class="form-range my-2" id="customRange1">
            </div>
            <div class="col-12 div-item">
                <label for="">Sat</label>
                <input type="range" class="form-range my-2" id="customRange2">
            </div>
            <div class="col-12 div-item">
                <label for="">Bright</label>
                <input type="range" class="form-range my-2" id="customRange3">
            </div>
            <div class="col-12 div-item">
                <label for="">Alpha</label>
                <input type="range" class="form-range my-2" id="customRange4">
            </div>
        </div>

    </div>
</div>
