
<div class="container my-4 bg-light shadow">
    <div class="row p-3">
        <div class="col-8 offset-2 text-center">
            <h1>Welcome!</h1>

            <p>Thank you for checking out Runway! I have a few pages setup so you can see a little bit of this project's capabilities. There is also a readme.md that covers much of the things you need to know.</p>
        </div>

    </div>
</div>
